@tailwind base;
@tailwind components;
@tailwind utilities;









/* Assurez-vous que la page prend toute la hauteur */
html, body {
  height: 100%;
}

/* La classe pour votre wrapper principal qui contiendra le footer */
.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Pour que le footer reste en bas de la page */
footer {
  margin-top: auto;
}


   



